<div ng-controller="menuController as vm">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
    
            <a class="navbar-brand">PRODUCTS</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <bootstrap-submenu ng-repeat="item in vm.menuItems" menu-item="item">
                </bootstrap-submenu>
            </ul>
        </div>
    </nav>
</div>

<div class="row" ng-init="vm.getWatches()">
    <div class="col-md-3">
        <p class="lead">Availability:</p>
        <div class="list-group">
            <a class="list-group-item" ui-sref="main.watch" ui-sref-opts="{inherit: false}">All</a>
            <!--{{ disp = vm.params.value == 'Available' ?  true : false }}-->
            <a class="list-group-item" ng-class="{'active': disp === vm.params.value}" ng-repeat="disp in vm.disp" ui-sref="main.watch({key: 'disp', value: disp})">{{ disp }} <i ng-if="disp === vm.params.value" class="fa fa-check"></i></a>
        </div>
        <p class="lead">Price: {{vm.priceSlider.value}}</p>
        <div>
           <!-- <a class="list-group-item" ui-sref="main.watch" ui-sref-opts="{inherit: false}">All</a>
            <a class="list-group-item" ng-class="{'active': color === vm.params.color}" ng-repeat="color in vm.colors" ui-sref="main.watch({key: 'color', value: color})">{{color}} <i ng-if="color === vm.params.value" class="fa fa-check"></i></a>-->
            <rzslider rz-slider-model="vm.priceSlider.minValue"
          rz-slider-high="vm.priceSlider.maxValue" rz-slider-options="vm.priceSlider.options" ui-sref="main.watch({key: 'price', value: vm.priceSlider.minValue+'-'+vm.priceSlider.maxValue})"></rzslider>
        </div>
        </br>
        <p class="lead">Quantity:</p>
        <div class="list-group">
            <a class="list-group-item" ui-sref="main.watch" ui-sref-opts="{inherit: false}">All</a>
            <a class="list-group-item" ng-class="{'active': quantity === vm.params.value}" ng-repeat="quantity in vm.quantity" ui-sref="main.watch({key: 'quantity', value: quantity})">{{quantity}} <i ng-if="quantity === vm.params.value" class="fa fa-check"></i></a>
        </div>

        <p class="lead">Sort:</p>
        <div class="sort form-group">
            <select class="form-control" ng-model="vm.sortorder" style="width:100%;">
                <option value="price">Price (-)</option>
                <option value="-price">Price (+)</option>
                <option value="quantity">Quantity (-)</option>
                <option value="-quantity">Quantity (+)</option>
                <option value="available">Available (-)</option>
                <option value="-available">Available (+)</option>
            </select>
        </div>
    </div>

    <div class="col-md-9">

        <div class="row">
            <div ng-if="vm.filter" class="col-sm-4 col-lg-4 col-md-4" style="width: 100%;">
                <form action="" class="navbar-form navbar-left">
                    <div class="input-group" style="margin-left: -10px;">
                        <input type="Search" ng-model="vm.search" placeholder="Search Product..." class="form-control" />
                        <div class="input-group-btn">
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="watch in vm.watches | filter:vm.search | orderBy: vm.sortorder">
                <div class="thumbnail" ng-init="watch.sublevel_id">
                    <a><img ng-src="{{watch.url}}" alt=""></a>
                    <div class="caption">
                        <h4 class="pull-right">{{watch.price}}</h4>
                         <!--<h4><a ui-sref="main.watch.profile({slug: watch.slug})">{{watch.name}}</a></h4>-->
                        <h4>{{watch.name}}</h4>
                        <p>Qty{{watch.quantity}}</p>
                    </div>
                    <div class="caption-btn">
                        <button ng-if="!cart.hasInCart(watch.id)" class="btn btn-primary btn-block btn-sm" ng-click="cart.addToCart(watch)"><i class="fa fa-cart-plus"></i> Add to Cart</button>
                        <button ng-show="cart.hasInCart(watch.id) && !showRemove"
                                ng-mouseenter="showRemove = true"
                                class="btn btn-success btn-block btn-sm"><i class="fa fa-check-circle"></i> Added</button>
                        <button ng-show="cart.hasInCart(watch.id) && showRemove"
                                ng-mouseleave="showRemove = false"
                                class="btn btn-danger btn-block btn-sm" ng-click="cart.removeFromCart(watch.id)"><i class="fa fa-remove"></i> Remove</button>
                    </div>
                    <!--<div class="ratings">-->
                        <!--<p class="pull-right">15 reviews</p>-->
                        <!--<p>-->
                            <!--<span class="glyphicon glyphicon-star"></span>-->
                            <!--<span class="glyphicon glyphicon-star"></span>-->
                            <!--<span class="glyphicon glyphicon-star"></span>-->
                            <!--<span class="glyphicon glyphicon-star"></span>-->
                            <!--<span class="glyphicon glyphicon-star"></span>-->
                        <!--</p>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>

</div>