<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a ui-sref="main.cart" class="btn navbar-toggle btn-primary cart-toggle" ng-init="cart.getCart()">
                <i class="fa fa-shopping-cart"></i> <span class="badge">{{cart.watches.length}}</span>
            </a>

            <a class="navbar-brand" href="#">Tiendas El Barat&oacute;n</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
            <a ui-sref="main.cart" class="btn btn-primary navbar-btn navbar-right" ng-init="cart.getCart()">
                <i class="fa fa-shopping-cart"></i> <span class="badge">{{cart.watches.length}}</span>
            </a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div id="shop" class="container" ui-view></div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-left">
            </div>
            <div class="col-lg-4 text-center">
                <span class="">Copyright <i class="fa fa-copyright"></i> Tiendas El Barat&oacute;n 2018</span><br /><br />
            </div>
            <div class="col-lg-4 text-right">
            </div>
        </div>
    </footer>

</div>