<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="watch in cart.watches">
                        <td>{{$index + 1}}</td>
                        <td><img ng-src="{{watch.url}}" width="100"></td>
                        <td>{{watch.name}}</td>
                        <td><input class="span3 text-center" type="tel" ng-model="watch.qty"  ng-change="cart.calculate_total(watch,vm.nprice);" />
                      <!--  <button class="btn btn-success" type="button" ng-disabled="watch.qty >= 1000" ng-click="cart.addItem(item.sku, item.name, item.price, +1)">+
                        </button>
                        <button class="btn btn-inverse" type="button" ng-disabled="watch.qty <= 1" ng-click="cart.addItem(item.sku, item.name, item.price, -1)">-
                        </button>-->
                        </td>
                        <input type="hidden" ng-model="vm.nprice">
                        <td><i class="fa fa-dollar"></i> {{watch.qty*watch.price}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" ng-click="cart.removeFromCart(watch.id)"><i class="fa fa-remove"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg" ui-sref="main.cart.checkout" ng-class="{'disabled': !cart.watches.length}">Checkout</a>
            </div>
            <div class="col-md-6 text-right"><h3>Total: <b><i class="fa fa-dollar"></i> {{cart.totalPrice}}</b></h3></div>
        </div>
    </div>
</div>