<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="panel panel-default text-center">
                    <div class="panel-body thank-you">
                        <h1>THANK YOU RAPPI!</h1>
                        <i class="fa fa-check fa-5x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>